.center{
  text-align: center;
}
.Btn {
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1464ce;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

.Btn:hover {background-color: #1132c5}

.Btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.Button{
  text-align: center;
}


.linkBtn {
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1464ce;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
  margin-left: 6px;
}

.linkBtn:hover {background-color: rgb(82, 82, 234)}

.linkBtn:focus {
  background-color: blue;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}
.linkButton {
  display: contents;
}



